<ng-template #fileInput>
  <input
    hidden
    type="file"
    (change)="onFileUpload($event)"
    (cancel)="hideNewUploadWarning()"
    [accept]="acceptedImageTypes.join(',')"
  />
</ng-template>
<ng-template #fileDropArea>
  <div
    class="file-drop-area"
    (drop)="onFileDrop($event)"
    (dragover)="onDragOver($event)"
    [hidden]="isFilePresent()"
  >
    <label class="clickable">
      <img class="icon" id="upload-icon" src="icons/add.svg" alt="" />
      <br />
      <strong>Upload Image</strong>
      <ng-container *ngTemplateOutlet="fileInput"></ng-container>
    </label>
    <br />
    or drag and drop a file here
  </div>
</ng-template>

<ng-template #uploadedImageDisplay>
  <div class="uploaded-image-container">
    <div>
      <img id="uploaded-image-display" [src]="fileUrl" [hidden]="isImageLoading()" />
      <div
        id="uploaded-image-loading-spinner"
        class="spinner-border text-light"
        [hidden]="!isImageLoading()"
        role="status"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <div class="file-name-display">
      <strong>Uploaded Image</strong> <br />
      {{ fileName }}
    </div>
    <div class="upload-new-container">
      <label class="upload-new-label clickable" (click)="showNewUploadWarning()">
        <img class="icon" id="upload-new-icon" src="icons/upload.svg" alt="" />
        Upload New
      </label>
    </div>
  </div>
</ng-template>

<ng-template #warningDisplay>
  <div
    id="warning-div"
    class="alert alert-warning"
    role="alert"
    style="display: flex; flex-direction: row"
  >
    <img id="warning-icon" src="icons/bootstrap-warning.svg" />
    <div>
      <h4 class="alert-heading">Warning</h4>
      <p>{{ warningMessage }}</p>
    </div>
    <button type="button" class="close-alert" aria-label="Close" (click)="closeWarning()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</ng-template>

<ng-template #newUploadWarning>
  <div id="popup-background"></div>
  <div id="new-upload-warning">
    <h4>Discard changes?</h4>
    Uploading a new image will cause you to lose all progress on your current image. Are you sure
    you want to continue?
    <div class="dialog-options">
      <button (click)="hideNewUploadWarning()">Cancel</button>
      <button>
        <label class="clickable">
          Yes, discard changes
          <ng-container *ngTemplateOutlet="fileInput"></ng-container>
        </label>
      </button>
    </div>
  </div>
</ng-template>

@if (!isFilePresent()) {
  <ng-container *ngTemplateOutlet="fileDropArea"></ng-container>
} @else {
  <ng-container *ngTemplateOutlet="uploadedImageDisplay"></ng-container>
}

@if (isWarningVisible) {
  <ng-container *ngTemplateOutlet="warningDisplay"></ng-container>
}

@if (isNewUploadWarningVisible) {
  <ng-container *ngTemplateOutlet="newUploadWarning"></ng-container>
}
