:root {
  --background-color: rgb(25, 25, 25);
  --foreground-color: rgb(240, 240, 240);
  --highlight-color: rgb(85, 85, 85);
  --dark-highlight-color: rgb(20, 20, 20);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: var(--background-color);
  color: var(--foreground-color);
}
app-root {
  width: 100%;
  justify-content: center;
}

h1 {
  margin: 50px;
}
button {
  background-color: var(--dark-highlight-color);
  color: var(--foreground-color);
  border: 1px solid var(--foreground-color);
  padding: 5px;
  margin: 5px;
}
button:hover {
  background-color: var(--highlight-color);
  cursor: pointer;
}
.reset-button {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.uploaded-image-display {
  border: 1px solid var(--foreground-color);
  margin: auto;
}

#imageDisplay {
  border: 1px solid var(--foreground-color);
  margin: 10px;
  max-width: 250px;
  max-height: 100px;
}
#upload-new-icon {
  width: 30px;
  height: 30px;
}
.upload-new-label {
  border: 1px solid var(--foreground-color);
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
  background-color: var(--dark-highlight-color);
}
.upload-new-label:hover {
  background-color: var(--highlight-color);
}

select {
  background-color: var(--dark-highlight-color);
  color: var(--foreground-color);
  border: 1px solid var(--foreground-color);
  padding: 5px;
  margin: 5px;
}
select:hover {
  background-color: var(--highlight-color);
  cursor: pointer;
}

.input-label {
  cursor: pointer;
}
.file-drop-area {
  border: 0.15em dashed var(--foreground-color);
  border-radius: 1.5em;
  margin: auto;
  height: 16em;
  width: 100%;
  max-width: 32em;
  background-color: var(--dark-highlight-color);
  text-align: center;
  align-content: center;
}

.icon {
  width: 1.5em;
  height: 1.5em;
  filter: invert(1) brightness(0.85);
}
#upload-icon {
  width: 3em;
  height: 3em;
  margin-bottom: 0.5em;
  margin-right: 0;
}

.editor-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--foreground-color);
  padding: 10px;
  margin: 20px auto;
}

.slider-container {
  display: flex;
  /* width: 80%; */
}

.slider-container > label {
  padding: 0.5em 0;
  width: 100%;
}

.slider-container > label > input {
  width: 100%;
}

.editor {
  display: flex;
  flex-direction: row;
  padding: 3em;
}

.editor .left,
.editor .right {
  align-content: center;
}
.editor .divider {
  height: 2.5em;
}

.editor .right {
  /* padding: 50px; */
  /* width: 40%;
  min-width: 20em; */
}

.canvas-container {
  position: relative;
  border: 0.05em solid var(--foreground-color);
  overflow: hidden;
  width: fit-content;
  height: fit-content;
}

canvas {
  max-width: 100%;
  max-height: 100%;
}

.collapse-toggle {
  display: flex;
}
.collapse-toggle > a {
  margin: auto;
}
.collapse-icon {
  width: 25px;
  height: 25px;
}
.collapse-icon.collapsed {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
