:root {
  --background-color: rgb(25, 25, 25);
  --highlight-color: rgb(85, 85, 85);
  --foreground-color: rgb(240, 240, 240);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: var(--background-color);
  color: var(--foreground-color);
}
app-root {
  width: 100%;
  justify-content: center;
}

h1 {
  margin: 50px;
}
button {
  background-color: transparent;
  color: var(--foreground-color);
  border: 1px solid var(--foreground-color);
  padding: 5px;
  margin: 5px;
}
button:hover {
  background-color: var(--highlight-color);
  cursor: pointer;
}

.uploaded-image-display {
  border: 1px solid var(--foreground-color);
  margin: auto;
}

#imageDisplay {
  border: 1px solid var(--foreground-color);
  margin: 10px;
  max-width: 250px;
  max-height: 100px;
}

#upload-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
#upload-new-icon {
  width: 30px;
  height: 30px;
}
.icon {
  width: 25px;
  height: 25px;
  margin: auto;
  filter: invert(1) brightness(0.85);
}
.upload-new-label {
  border: 1px solid var(--foreground-color);
  border-radius: 10px;
  padding: 10px;
  padding-right: 20px;
  margin-right: 20px;
}
.upload-new-label:hover {
  background-color: var(--highlight-color);
}

select {
  background-color: var(--background-color);
  color: var(--foreground-color);
  border: 1px solid var(--foreground-color);
  padding: 5px;
  margin: 5px;
}
select:hover {
  background-color: var(--highlight-color);
  cursor: pointer;
}

.input-label {
  cursor: pointer;
}
.file-drop-area {
  border: 2px dashed var(--foreground-color);
  border-radius: 20px;
  padding: 20px;
  margin: auto;
  height: 250px;
  width: 500px;
  background-color: rgb(20, 20, 20);
  text-align: center;
  align-content: center;
}

#fileInput {
  display: none;
}

.editor-container {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--foreground-color);
  padding: 10px;
  margin: 20px auto;
}

.slider-container {
  display: flex;
  width: 80%;
}

.slider-container > label {
  padding: 5px;
  width: 100%;
}

.slider-container > label > input {
  width: 100%;
}

.editor {
  display: flex;
  flex-direction: row;
  padding: 50px;
}

.editor .left,
.editor .right {
  flex: 0 0 auto;
  align-content: center;
}
.editor .right {
  padding: 50px;
  width: 60%;
}
.editor .right > button {
  align-self: baseline;
}

.canvas-container {
  border: 1px solid var(--foreground-color);
  overflow: hidden;
  width: fit-content;
  height: fit-content;
}

canvas {
  margin: 10px;
  max-width: 300px;
  max-height: 300px;
}

.collapse-toggle {
  display: flex;
}
.collapse-toggle > a {
  margin: auto;
}
.collapse-icon {
  width: 25px;
  height: 25px;
}
.collapse-icon.collapsed {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
