body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.editor {
  display: flex;
  flex-direction: row; 
}

.editor .left,
.editor .right {
  flex: 0 0 auto; 
  padding: 10px;
  border: 1px solid #ccc;
}

canvas{
    border: 1px solid black;
    margin: 10px;
    max-width: 300px;
    max-height: 300px;
}

.collapse-icon.collapsed{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}